* {
	font-family: Helvetica;
}

body {
	margin: 0;
}

/* Navigasi */

nav {
	background-color: #e6e6e6;
	display: flex;
	height: 7vh;
	justify-content: space-around;
}

nav .left {
	flex: 50%;
	padding-left: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
}

nav .left ul {
	display: flex;
	list-style: none;
	width: 40%;
}

nav .left ul li {
	display: inline;
}

nav .left ul li a.list-active {
	color: #ec4d37;
	font-weight: 700;
}

nav .left li a {
	text-decoration: none;
	font-weight: bold;
	color:  #000;
	margin-left: 20px;
}

nav .left li a:hover {
	font-weight: bold;
	color:  #C24D24;
}

nav .right {
	padding-right: 90px;
	flex: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav .right a {
	text-decoration: none;
	border: none;
	font-weight: 500;
	padding: 8px 15px;
	background-color: #f04c34;
	color: white;
	border-radius: 7px;
	font-family: Bahnschrift, Consolas, Arial;
	cursor: pointer;
}

nav .right a:hover {
	background-color: #be260e;
	color: white;
}

/* Section */

.container {
	height: 93vh;
	display: flex;
	align-items: center;
	margin-top: 25px;
	flex-wrap: wrap;
	justify-content: center;
}

.section {
	width: 85%;
	display: flex;
}

.section .left {
	display: flex;
	flex: 35%;
	padding: 50px;
}

.section .left .box-card {
	border: 1px solid #888888; 
	border-radius: 15px; 
	box-shadow: 5px 10px 18px #888888; /*horizontal vertical lebar penyebaran warna */
	width: 90%; 
	padding: 15px;
}

.section .right {
	display: flex;
	flex: 65%;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
	text-align: justify-all;
}

.section .right p {
	color: #888;
}

.section .right .skill {
	display: flex;
}

.section .right .skill img {
	width: 56px;
	height: auto;
}

.section .right .skill .satu {
	flex: 1;
	padding-left: 15px;
	padding-right: 15px;
}

.section .right .skill .dua {
	flex: 1;
	padding-left: 15px;
	padding-right: 15px;
}

.section .right .skill .tiga {
	flex: 1;
	padding-left: 15px;
	padding-right: 15px;
}

.sosmed-list img {
	height: 50px;
	width: 50px;
	display: inline;
}

/* Form */

.container-form {
	height: 93vh;
	display: flex;
	justify-content: center;
	padding-top: 40px;
	flex-wrap: wrap;
}

.container-form .section-form {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-form .mainform {
	background-color: #e6e6e6;
	padding: 20px;
	width: 400px;
	border: 1px thin #888;
	border-radius: 15px; 
	box-shadow: 5px 5px 18px #888888;
}

.container-form .individual-form {
	margin-top: 15px;
}

.container-form .inputan {
	border: 0.5px solid #888888;
	border-radius: 5px;
	width: 100%;
	margin-top: 5px;
	padding: 10px;
	box-sizing: border-box;
}

.container-form ::placeholder , option {
	font-family: sans-serif;
	font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}

.container-form .labelan {
	font-size: 17px;
	font-weight: 500;
	font-family: Helvetica;
}

.container-form .textarea-form {
	resize:none; height: 100px;
	border: 0.5px solid #888888;
	border-radius: 5px;
	width: 100%;
	margin-top: 10px;
	padding: 5px;
	box-sizing: border-box;
}

.container-form .buttonform {
	font-size: 19px;
	background-color: #cccccc;
	color: #000;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
	width: 100%;
}

.container-form .buttonform:hover {
	background-color: #fff;
	color: #000;
}

/* Blog Form */
.blog-form {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.blog-form .form-container {
  width: 500px;
}

.blog-form .form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.blog-form form label {
  font-size: 18px;
  font-weight: 400;
}

.blog-form form input,
.textarea-blog,
.select-blog {
  width: 100%;
  font-size: 17px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

input:focus, textarea:focus {
	border-color: rgba(83, 112, 190, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(83, 112, 190, 0.8);
  outline: 0 none;
}

.blog-form form .textarea-blog {
  height: 250px;
}

.blog-form form .input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.blog-form form .input-blog-image-group label p {
  font-size: 15px;
}

.blog-form form .input-blog-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-form form .button-group {
  text-align: right;
}

.blog-form form button {
  margin-top: 50px;
  padding: 8px 20px;
  font-size: 17px;
  background: #ec4d37;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.blog hr {
  border: 1px solid #dbdbdb;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.button-blog-container {
	display: flex;
	justify-content: end;
	margin-top: 50px;
	padding-right: 120px;
}

.button-blog {
	text-decoration: none;
	border: none;
	font-weight: 500;
	padding: 8px 15px;
	background-color: #f04c34;
	color: white;
	border-radius: 7px;
	font-family: Bahnschrift, Consolas, Arial;
	cursor: pointer;
}

.button-blog:hover {
	background-color: #be260e;
	color: white;
}

/* Blog list */
.blog .blog-list {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog .blog-list .blog-list-item {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  display: flex;
}

.blog .blog-list .blog-list-item .blog-image {
  flex: 1;
}

.blog .blog-list .blog-list-item .blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog .blog-list .blog-list-item .blog-content {
  padding-left: 20px;
  flex: 2;
}

.blog .blog-list .btn-group {
  text-align: right;
  margin-bottom: 20px;
}

.blog .blog-list .btn-group .btn-edit {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: #dbdbdb;
  text-decoration: none;
  color: #ec4d37;
}

.blog .blog-list .btn-group .btn-delete {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: #ec4d37;
  color: #fff;
  text-decoration: none;
}

.blog .blog-list h1 a {
  text-decoration: none;
  color: #000000;
}

.blog .blog-list .detail-blog-content {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.blog .blog-list .blog-list-item p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}

/* Blog Detail */
.blog-detail {
  display: flex;
  justify-content: center;
}

.blog-detail-container {
  width: 70%;
  margin: 40px 0;
}

.blog-detail-container img {
  width: 100%;
}

.blog-detail-container h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 15px;
}

.blog-detail-container .author {
  font-weight: 100;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}

.blog-detail-container p {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  text-align: justify;
}

/* Responsive */


/* Footer */

footer {
	margin-top: 70px;
	background-color: #e6e6e6;
	text-align: center;
	font-family: Lucida Console;
	font-size: 13px;
	padding: 10px;
}